


{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "includes/messages.html" %}


    <div class="row">
      <div class="col-md-4">
        {% include "cafeteria/includes/add_ingredients.html" %}
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header" style="background-color: #094089;color:white;">
            <span>Manage Ingredients</span>
            <!-- <form class="float-right mb-2" role="search"  method="GET" style="height: 27px;margin:auto;position:relative;">
              <div class="input-group">
             
          
                {{ search_form|crispy }} 
            
                <div class="input-group-btn ">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    
                </div>
              </div>
            </form> -->
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive">

           

            <table class="table table-sm  table-striped table-bordered table-hover  text-nowrap  dataTable no-footer">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Restock at</th>
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- -------------------------------------------------------------------A-level subjects------------------------------------ -->

{% include "cafeteria/includes/ingredients.html" %}

              </tbody>
            </table>
          </div>



        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>


  </div>
</section>
<!-- /.content -->



{% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}