<div class="card" >
    <div class="card-header" style="background-color: #094089;color:white;" >
        <span>Manage Menu ( {{ stall.stall_id }})</span>
    </div>

    <table class='table table-hover table-sm' id="foods">
            <thead class='thead'>
                <tr>
                    <th></th>
                    <th>S.N</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                {% for item in foods %}
                <tr>
                    <td><input type="checkbox" name="food_check" id="{{item.pk}}" data-value="{{item.pk}}"></td>
                    <td>{{forloop.counter}}</td>
                    <td class="food_name" >{{item.name}}</td>
                    <td class="price">
                        <input type="number" name="food_price" class="food_price" id="{{item.pk}}"
                        {% for e_item in existing_item %}
                            {% if e_item.item == item %}
                                value="{{e_item.price}}"
                            {% endif %}
                        {% endfor %}
                        >
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-center">
                        <button class="btn btn-sm btn-info" id="Confirm">Confirm</button>
                    </td>
                </tr>
            </tbody>

    </table>

    <div>
        <form id="menuitems" method="post">

            {% csrf_token %}
            <input type="text" name="count" value="0" id="food_count" readonly hidden>
            
            <div id="menuitems_body"></div>

            <input type="submit" id="printadmitcard_form_submit" hidden>
        </form>
    </div>
<!-- /.card-body -->
</div>