{% extends 'admin_templates/base_admin.html' %}

{% load crispy_forms_tags %}
{% load static  %}

{% block title %} Bookings {% endblock %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">

  {% include "includes/messages.html" %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <div class="card-header" style="background-color: #094089;color:white;" >
                    <span>Bookings</span>
                </div>

                <div class="card-body table-responsive">
            
                    <table id="dataTable" class="table table-sm  table-striped table-bordered table-hover text-nowrap dataTable no-footer">
                    <thead>
                        <tr>
                        <th></th>
                        <th>#</th>
                        <th>Booked By</th>
                        <th>Purpose</th>
                        <th>Room</th>
                        <th>Booked on</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in bookings %}
                            <tr>
                                    <td></td>
                                    <td>{{b.id}}</td>
                                    <td>{{ b.booked_by.full_name }}</td>
                                    <td>{{b.purpose}}</td>
                                    <td>{{b.room}}</td>
                                    <td>{{b.booked_on}}</td>
                                    <td>{{b.booking_start}}</td>
                                    <td>{{b.booking_end}}</td>
                                    <td>
                                        <a href="{% url 'booking-detail' b.id %}" class="btn btn-xs btn-info"><strong>View</strong></a>
                                        <a href="{% url 'booking-edit' b.id %}" class="btn btn-xs btn-info"><strong>Edit</strong></a>
                                        <a href="{% url 'booking-delete' b.id %}" class="btn btn-xs btn-info"><strong>Delete</strong></a>
                                        <a href="#"class="btn btn-xs btn-info"><strong>Print</strong></a>
                                    </td>
                            </tr>
                            
                        {% endfor %}
                        {% include 'enquiry/mail_modal.html'%}
                    </tbody>
                    </table>
                </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
  </div>

  
</section>
<!-- /.content -->

{% endblock main_content %}

{% block custom_js %}
<script>
    $(".modal_display").click(function(e){
        var id = $(this).data('id')
        
        $.ajax({
            url:" {% url 'enquiry:show_modal' %}",
            data: {'id':id},
            success: function(data){
                $("#modal_body").html(data);
            }
        })
    })
</script>

{% endblock custom_js %}
